#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*BEM*/
/*.container {*/
/*  color: red;*/
/*}*/
/*.container__paragraph {*/
/*  color: gray;*/
/*}*/

/*.container__paragraph--active {*/
/*  color: yellow;*/
/*}*/
